$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$noContentBackground: #659A01;
$contentBackground: #660;
$headersColor: #FFC915;
$textColor: #fff;
$imgBorderColor: $textColor;
$italicStyle: normal;
$boldStyle: normal;
$imgBorderWidth: 1px;
$imgPadding: 12px;
$briefBackground: #677D01;
$briefWidth: 96%;
$briefFloat: none;
$linkColor: $headersColor;
$tableHeadBackground: #94A34E;
$tableBodyBackground: $briefBackground;
$tableHeadBorder: none;
$tableWidth: 100%;
$wrapStatus: normal;
