$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$noContentBackground: #DDBC9B;
$contentBackground: #fff;
$headersColor: #8B3D00;
$textColor: #000;
$italicStyle: italic;
$boldStyle: bold;
$imgBorderWidth: 2px;
$imgBorderColor: $headersColor;
$imgPadding: 4px;
$briefBackground: #FADCBA;
$briefWidth: 35%;
$briefFloat: left;
$tableHeadBackground: #E0E0E0;
$tableBodyBackground: $contentBackground;
$tableHeadBorder: 1px solid #fff;
$tableWidth: auto;
$wrapStatus: nowrap;
